<div>
    {{#if loggedIn}}
    <h1>Welcome to your dashboard</h1>

    <button id="createPostBtn" class="btn-no-style">Create Post</button>
    {{else}}
    <h1>Please log in to view your dashboard</h1>
    {{/if}}
</div>
<script src="/js/dashboard.js"></script>